<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet"> -->
    <link href="MaterialDesign-Webfont-master/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="js/vuetify-v2.6.4.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="app"></div>

<script type="text/x-template" id="app-template">
    <v-app>
        <v-card class="mx-auto my-12" :width="totalWidth">
            <v-card-text column align-center justify-center>
                <v-container>
                    <v-row>
                        <v-col>
                            <v-btn @click="start">开始</v-btn>
                        </v-col>
                        <v-col>
                            <v-text-field label="多少个数字" v-model="numberSize"></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row v-if="isStarted">
                        <v-col align-center justify-center v-for="item in dataArr">
                            <v-btn :color="item.color" @click="clickButton(item)">{{item.val}}</v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col v-if="scores">
                            <div v-for="(item, i) in scores">第{{scores.length - i }}次，{{item.n}}个数字，耗时：{{item.t}}
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-app>
</script>

<script src="js/vue.min.js"></script>
<script src="js/vuetify-v2.6.4.min.js"></script>
<script src="js/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        template: '#app-template',
        vuetify: new Vuetify(),
        data: () => ({
            totalWidth: 300,
            isStarted: false,
            numberSize: 9,
            dataArr: [],
            nextVal: 1,
            beginTime: null,
            endTime: null,
            scores: []
        }),

        computed: {},

        watch: {},

        created() {
            this.initialize()
        },

        methods: {
            initialize() {

                let vm = this

                this.totalWidth = Math.round(Math.sqrt(this.numberSize)) * 100;

                let arr = [];
                for (let i = 1; i <= this.numberSize; i++) {
                    arr.push(i);
                }

                let tmpArr = [];
                for (let i = 0; i < this.numberSize; i++) {
                    let idx = Math.round(Math.random() * (arr.length - 1))
                    let arrElement = arr[idx];
                    arr.splice(idx, 1)
                    tmpArr.push({"val": arrElement, "color": "normal"})
                }

                this.dataArr = tmpArr;
            },


            start() {
                this.isStarted = false;
                this.initialize();
                this.isStarted = true;
                this.beginTime = new Date().getTime();
                this.nextVal = 1;
            },

            clickButton(item) {
                console.log(item);

                if (item.val == this.nextVal) {
                    item.color = 'primary'

                    if (item.val == this.numberSize) {
                        this.endTime = new Date().getTime();
                        this.scores.unshift({
                            "t": (this.endTime - this.beginTime) / 1000,
                            'n': this.numberSize
                        })
                    }
                    this.nextVal++;
                }
            }

        },

    })
</script>

</body>

</html>
